body {
    background-color: rgb(254, 248, 232);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    font-family: monospace;
    font-size: 2rem;
    border-radius: 10px;
    border: 2px purple solid;
    display: inline-block;
    padding: 5px 10px;
    margin: 20px auto;
    background: linear-gradient(to left, #ff7e5f, #b442be);
}

.selection {
    width: 100%;
    display: flex;
    justify-content: center;
}
